@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
  font-family: "Roboto Slab", serif;
}
.MAIN{
  width: 100%;
  height: max-content;
  background-color: rgb(8, 8, 8);
  font-family: "Roboto Slab", serif;
}